@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700&display=swap" );
body{
	background-color: rgb(59, 66, 73);
	color: mediumpurple;
	font-family: "Lato", sans-serif;
}


[class*="__container"]{
   max-width: 1260px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}

